html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'NotoSans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.container {
  margin: 50px auto;
  width: 400px;
  padding: 4rem;
  border: 1px solid #000;
  min-height: 400px;
}

.spiral-button-outer-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-right: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-size: 1rem;
}

.spiral-button-face-container {
  position: relative;
  display: inline-block;
  padding: .55rem 1.1rem .65rem;
  border: 2px solid #333;
  background-color: #ffffff;
  z-index: 3;
  transition: transform .3s;
}

.spiral-button-main-text {
  position: relative;
  z-index: 4;
  text-shadow: rgb(255, 255, 255) 1.5px 0px 0px, rgb(255, 255, 255) 1.17883px 0.927555px 0px, rgb(255, 255, 255) 0.352856px 1.45791px 0px, rgb(255, 255, 255) -0.62422px 1.36395px 0px, rgb(255, 255, 255) -1.33399px 0.685909px 0px, rgb(255, 255, 255) -1.47251px -0.285852px 0px, rgb(255, 255, 255) -0.980465px -1.1352px 0px, rgb(255, 255, 255) -0.0685596px -1.49843px 0px, rgb(255, 255, 255) 0.872705px -1.21999px 0px, rgb(255, 255, 255) 1.44026px -0.419123px 0px;
}

.spiral-button-face-background-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spiral-button-bottom {
  position: absolute;
  display: inline-block;
  padding: .55rem 1.1rem .65rem;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  right: 0px;
  bottom: 0px;
  background-color: #d4d4d4;
  z-index: 2;
}

.spiral-button-bottom .invisible-text {
  visibility: hidden;
}

.leg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spiral-button-outer-container.pressed .spiral-button-face-container {
  transform: translate(7px, 7px);
}

.spiral-button-outer-container.pressed .leg-top-right {
  transform: translate(7px, 8px);
}

.spiral-button-outer-container.pressed .leg-bottom-right {
  transform: translate(7px, 7px);
}

.spiral-button-outer-container.pressed .leg-bottom-left {
  transform: translate(8px, 7px);
}


.leg-top-right {
  position: absolute;
  top: 1px;
  right: -14px;
  width: 23px;
  height: 23px;
  transition: transform .3s;
}

.leg-top-right-bg {
  fill:#d4d4d4;
} 

.leg-bottom-left-bg {
  fill:#d4d4d4;
} 



.leg-bottom-right {
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 23px;
  height: 23px;
  z-index: 3;
  transition: transform .3s;
}

.leg-bottom-left {
  position: absolute;
  bottom: -14px;
  left: 1px;
  width: 23px;
  height: 23px;
  transition: transform .3s;
}

.spiral-bg {
  visibility: hidden;
  position: absolute;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* BUTTONS */

button.spiral-button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 0;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}

/* selected */

button.spiral-button:focus .leg-top-right-bg, button.spiral-button:active .leg-top-right-bg {
  fill: #cee3f5;
}

button.spiral-button:focus .leg-bottom-left-bg, button.spiral-button:active .leg-bottom-left-bg {
  fill: #cee3f5;
}

button.spiral-button:focus .spiral-button-bottom, button.spiral-button:active .spiral-button-bottom {
  background-color: #cee3f5;
}

button.spiral-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}







