html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'NotoSans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.container {
  margin: 50px auto;
  width: 400px;
  padding: 4rem;
  border: 1px solid #000;
  min-height: 400px;
}

.spiral-button-outer-container {
  position: relative;
  display: inline-block;
  padding-right: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
}

.spiral-button-face-container {
  position: relative;
  display: inline-block;
  padding: .48rem 1rem .52rem;
  border: 2px solid #333;
  background-color: #ffffff;
  transition: transform .3s;
}

.spiral-button-main-text {
  position: relative;
  text-shadow: rgb(255, 255, 255) 1.5px 0px 0px, rgb(255, 255, 255) 1.17883px 0.927555px 0px, rgb(255, 255, 255) 0.352856px 1.45791px 0px, rgb(255, 255, 255) -0.62422px 1.36395px 0px, rgb(255, 255, 255) -1.33399px 0.685909px 0px, rgb(255, 255, 255) -1.47251px -0.285852px 0px, rgb(255, 255, 255) -0.980465px -1.1352px 0px, rgb(255, 255, 255) -0.0685596px -1.49843px 0px, rgb(255, 255, 255) 0.872705px -1.21999px 0px, rgb(255, 255, 255) 1.44026px -0.419123px 0px;
}

.spiral-button-face-background-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spiral-button-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 9px);
  height: calc(100% - 9px);
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: #d4d4d4;
}

.leg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leg-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8.8px;
  height: 10.2px;
}

.leg-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 8.8px;
  height: 8.8px;
}

.leg-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 10.2px;
  height: 8.8px;
}

.spiral-bg {
  visibility: hidden;
  height: 5px;
  /* center vertically and horizontally */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* BUTTONS */

button.spiral-button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 0;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

button.spiral-button .spiral-button-bottom {
  transition: box-shadow .2s;
}

button.spiral-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* FOCUS/ACTIVE STYLES */

button.spiral-button:focus .spiral-button-bottom, button.spiral-button:active .spiral-button-bottom {
  box-shadow: 0px 0px 8px rgba(33,150,243,.7), 0px 0px 22px rgba(33,150,243,.3);
}


/* PRESSED ANIMATION */

.leg .contents {
  transition: transform .3s;
}

.spiral-button.pressed .spiral-button-face-container {
  transform: translate(7px, 7px);
}

.spiral-button.pressed .leg-top-right .contents {
  transform: translate(7px, 9px);
}

.spiral-button.pressed .leg-bottom-right .contents {
  transform: translate(7px, 7px);
}

.spiral-button.pressed .leg-bottom-left .contents {
  transform: translate(9px, 7px);
}

.spiral-button.pressed .spiral-bg {
  visibility: visible;
  animation: rotateSpiral 1.5s linear, growSpiral 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@keyframes rotateSpiral {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-200deg);
  }
}

@keyframes growSpiral {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(150);
  }
}




