/* MAIN BUTTON */

/* overwrite default button styles */
.spiral-button {
  display: inline-block;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-weight: bold;
  text-align: left;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* DEBUG - shows full spiral at its max width */
.spiral-button.debug .spiral-button-face-background-container {
  overflow: visible;
}
.spiral-button.debug .spiral-bg {
  visibility: visible;
  transform: scale(1);
}

.spiral-button * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.spiral-button .spiral-button-bottom {
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

/* overwrite default button styles */
.spiral-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* FOCUS/ACTIVE STYLES: add a light blue hightlight around button */

.spiral-button:focus .spiral-button-bottom, .spiral-button:active .spiral-button-bottom {
  -webkit-box-shadow: 0px 0px 8px rgba(33,150,243,.7), 0px 0px 22px rgba(33,150,243,.3);
          box-shadow: 0px 0px 8px rgba(33,150,243,.7), 0px 0px 22px rgba(33,150,243,.3);
}

/* BUTTON STRUCTURE */

.spiral-button .spiral-button-outer-container {
  position: relative;
  display: inline-block;
  padding-right: 7px;
  padding-bottom: 7px;
  white-space: nowrap;
}

.spiral-button .spiral-button-face-container {
  position: relative;
  display: inline-block;
  padding: .48rem 1rem .52rem;
  border: 2px solid #333;
  line-height: 1.4em;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.spiral-button .spiral-button-main-text {
  position: relative;
  text-shadow: rgb(255, 255, 255) 1.5px 0px 0px, rgb(255, 255, 255) 1.17883px 0.927555px 0px, rgb(255, 255, 255) 0.352856px 1.45791px 0px, rgb(255, 255, 255) -0.62422px 1.36395px 0px, rgb(255, 255, 255) -1.33399px 0.685909px 0px, rgb(255, 255, 255) -1.47251px -0.285852px 0px, rgb(255, 255, 255) -0.980465px -1.1352px 0px, rgb(255, 255, 255) -0.0685596px -1.49843px 0px, rgb(255, 255, 255) 0.872705px -1.21999px 0px, rgb(255, 255, 255) 1.44026px -0.419123px 0px;
}

.spiral-button .spiral-button-face-background-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spiral-button .spiral-button-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 9px);
  height: calc(100% - 9px);
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: #d4d4d4;
}


/* SVG ELEMENT: SPIRAL BG */

.spiral-button .spiral-bg {
  visibility: hidden;
  height: 5px;
  position: absolute;
  -webkit-transform: scale(.01);
          transform: scale(.01);
}

/* SVG ELEMENTS: LEGS */

.spiral-button .legs-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spiral-button .leg-container {
  position: absolute;
  overflow: hidden;
}

/* top right */
.spiral-button .leg-container.leg-top-right {
  top: 0px;
  right: 0px;
  width: 8.8px;
  height: 10.2px;
}
.spiral-button .leg-container.leg-top-right .leg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* bottom right */
.spiral-button .leg-container.leg-bottom-right {
  bottom: 0px;
  right: 0px;
  width: 8.8px;
  height: 8.8px;
}
.spiral-button .leg-container.leg-bottom-right .leg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* bottom left */
.spiral-button .leg-container.leg-bottom-left {
  bottom: 0px;
  left: 0px;
  width: 10.2px;
  height: 8.8px;
}
.spiral-button .leg-container.leg-bottom-left .leg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SVG PATHS FOR: LEGS */

.spiral-button .leg-top-right-bg {
  fill: #D4D4D4;
}

.spiral-button .leg-top-right-line {
  stroke: #333333;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.spiral-button .leg-bottom-right-line {
  stroke: #333333;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.spiral-button .leg-bottom-left-bg {
  fill: #D4D4D4;
} 

.spiral-button .leg-bottom-left-line {
  stroke: #333333;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.spiral-button .leg-container .leg {
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s;
}


/* PRESSED ANIMATION */

.spiral-button.pressed .spiral-button-face-container {
  -webkit-transform: translate(7px, 7px);
          transform: translate(7px, 7px);
}

.spiral-button.pressed .leg-top-right .leg {
  -webkit-transform: translate(7px, 9px);
          transform: translate(7px, 9px);
}

.spiral-button.pressed .leg-bottom-right .leg {
  -webkit-transform: translate(7px, 7px);
          transform: translate(7px, 7px);
}

.spiral-button.pressed .leg-bottom-left .leg {
  -webkit-transform: translate(9px, 7px);
          transform: translate(9px, 7px);
}

.spiral-button.pressed .spiral-bg {
  visibility: visible;
  -webkit-animation: growAndRotateSpiral90 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          animation: growAndRotateSpiral90 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* alternate rotations */

.spiral-button.pressed.rotate-0 .spiral-bg {
  -webkit-animation-name: growAndRotateSpiral0;
          animation-name: growAndRotateSpiral0;
}

.spiral-button.pressed.rotate-90 .spiral-bg {
  -webkit-animation-name: growAndRotateSpiral90;
          animation-name: growAndRotateSpiral90;
}

.spiral-button.pressed.rotate-180 .spiral-bg {
  -webkit-animation-name: growAndRotateSpiral180;
          animation-name: growAndRotateSpiral180;
}

.spiral-button.pressed.rotate-270 .spiral-bg {
  -webkit-animation-name: growAndRotateSpiral270;
          animation-name: growAndRotateSpiral270;
}

.spiral-button.pressed.rotate-360 .spiral-bg {
  -webkit-animation-name: growAndRotateSpiral360;
          animation-name: growAndRotateSpiral360;
}


/* ANIMATIONS: ROTATION OPTIONS */

@-webkit-keyframes growAndRotateSpiral0 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}
@keyframes growAndRotateSpiral0 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes growAndRotateSpiral90 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-90deg);
            transform: scale(1) rotate(-90deg);
  }
}
@keyframes growAndRotateSpiral90 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-90deg);
            transform: scale(1) rotate(-90deg);
  }
}
@-webkit-keyframes growAndRotateSpiral180 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-180deg);
            transform: scale(1) rotate(-180deg);
  }
}
@keyframes growAndRotateSpiral180 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-180deg);
            transform: scale(1) rotate(-180deg);
  }
}
@-webkit-keyframes growAndRotateSpiral270 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-270deg);
            transform: scale(1) rotate(-270deg);
  }
}
@keyframes growAndRotateSpiral270 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-270deg);
            transform: scale(1) rotate(-270deg);
  }
}
@-webkit-keyframes growAndRotateSpiral360 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
}
@keyframes growAndRotateSpiral360 {
  from {
    -webkit-transform: scale(.01) rotate(0deg);
            transform: scale(.01) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }
}



